<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/instant-currency-conversion.jpeg` | relURL }}" width="100" height="100" style="border-radius: 50%;">

        <h2 class="h2">Instant Currency Conversion<small class="d-none">🛡️</small></h2>
        <p>Experience real-time currency conversions by simply highlighting numbers and currency codes on any webpage. Convert to your default or chosen currency without any disruption to your browsing.</p>
    </div>
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/integrated-conversion-tools.jpeg` | relURL }}" width="100" height="100" style="border-radius: 50%;">

        <h2 class="h2">Integrated Conversion Tools<small class="d-none">🚀</small></h2>
        <p>Enjoy seamless integration of currency conversion in your daily browsing. Get accurate, real-time exchange rates without ever having to switch tabs or open separate applications.</p>
    </div>
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/memory-of-preferences.jpeg` | relURL }}" width="100" height="100" style="border-radius: 50%;">

        <h2 class="h2">Memory of Preferences<small class="d-none">📈</small></h2>
        <p>Retain your last-used settings, including target currency and amount. Enjoy a personalized and consistent conversion experience without needing to reset your preferences each time.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Automated Rate Updates<small class="d-none">🦉</small></h2>
        <p>Ensure the most accurate conversions with currency rates that update every hour. Our extension quietly keeps the data fresh, so you always have the latest rates at your fingertips whenever you highlight text for conversion.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Highlighted Text Recognition<small class="d-none">🧰</small></h2>
        <p>Enhance your browsing with intelligent text recognition that detects and suggests conversions based on highlighted text containing monetary values. This minimizes manual input and speeds up your currency conversion process.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Quick Access NavBar<small class="d-none">🚀</small></h2>
        <p>Add a dedicated navigation bar for rapid access to currency conversion settings. Quickly change target currencies without interrupting your current browsing session.</p>
    </div>
</div>
