<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/diverse-content-library.png` | relURL }}" width="100" height="100" style="border-radius: 50%;">

        <div class="col-lg-4">
            <h2 class="h2">Instant Currency Conversion <small class="d-none">🔄</small></h2>
            <p>Experience real-time currency conversions by simply highlighting numbers and currency codes on any webpage. Convert to your default or chosen currency without any disruption to your browsing.</p>
        </div>
        <div class="col-lg-4">
            <h2 class="h2">Integrated Conversion Tools <small class="d-none">🌐</small></h2>
            <p>Enjoy seamless integration of currency conversion in your daily browsing. Get accurate, real-time exchange rates without ever having to switch tabs or open separate applications.</p>
        </div>
        <div class="col-lg-4">
            <h2 class="h2">Custom Currency Settings <small class="d-none">⚙️</small></h2>
            <p>Easily switch between your most frequently used currencies, saving time and enhancing your browsing experience. Ideal for frequent travelers and those dealing with multi-currency transactions.</p>
        </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Multi-Currency Dashboard <small class="d-none">💹</small></h2>
        <p>Quickly compare values across multiple currencies directly from your browser. Make informed financial decisions with ease, enhancing your productivity and decision-making process.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Real-Time Rates <small class="d-none">🔔</small></h2>
        <p>Stay updated with the latest currency exchange rates. Ensure all your currency conversions are accurate and up-to-date, crucial for financial analysts and professionals managing international transactions.</p>
    </div>
    <h2 class="h2">Contextual Tooltips <small class="d-none">🛍️</small></h2>
    <p>Shop internationally without hassle. Automatically view prices in your preferred currency on e-commerce sites, thanks to tooltips that appear when you hover over prices.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Memory of Preferences <small class="d-none">🧠</small></h2>
        <p>Retain your last-used settings, including target currency and amount. Enjoy a personalized and consistent conversion experience without needing to reset your preferences each time.</p>
    </div>
</div>
